# for projects that use SCons for building: http://http://www.scons.org/
examples/.sconsign.dblite
examples/scratch

# When configure fails, SCons outputs these
config.log
.sconf_temp

# Build objects
__pycache__
dist
*.egg-info
